body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-size: 14px;
  line-height: normal;
  line-height: 18px;

  font-family: "Arial", sans-serif;
  color: rgba(0,0,0,0.8);
  font-style: normal;
  background: rgb(255,255,255,0.9) url("../img/body-bg.jpg") no-repeat center top;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-header {
  display: flex;
  flex-direction: column;
}

.site-header__logo {
  height: 85px;
}

.main-nav {
  width: 320px;
  margin: 0 auto;
  
  background-color: #ddb577;
}

@media (min-width: 768px) {
  .main-nav {
    width: auto;
    margin: 0;
  }
  
  .main-nav__wrapper {
    width: 640px;
    margin: 0 auto;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

@media (min-width: 768px) {
  .site-header__logo {
    order: 2;
    height: 400px;
  }
}

@media (min-width: 1200px) {
  .site-header__logo {
    height: 648px;
  }
}
